# Server Config
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI="mongodb+srv://chavhansani365_db_user:4JCHv9f4VZ0eoGq7@cluster0.iurqbqy.mongodb.net/ai-negotiator-game"

# JWT
JWT_SECRET="qsX*e)%^}|CO8@5*0MPU1&c9v96vWb[Cy8?|@&qnL$va9DE%y_-uZcGU{B|=Z/U2}$YKV3MTHaCb(J6l,.}?7^"
JWT_EXPIRE=7d

# Mistral AI
MISTRAL_API_KEY="YPRThv1ldNQJ7Rf356wzFlQtkSKbs3pF"

# CORS
CLIENT_URL=http://localhost:5173
